n8n_workflows/1_captura_bienvenida.json
{
  "id": "1",
  "name": "1. Captura de Lead + Correo Bienvenida + WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "captura-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Landing Page",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gohighlevel.com/v1/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_CRM_API_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{$json.body.name}}" },
            { "name": "phone", "value": "={{$json.body.phone}}" },
            { "name": "email", "value": "={{$json.body.email}}" },
            { "name": "tags", "value": "={{$json.body.treatment}}" }
          ]
        }
      },
      "name": "Crear Contacto en CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "clinica@tudominio.cl",
        "toEmail": "={{$json.body.email}}",
        "subject": "Tu Cupon de 15% OFF para {{$json.body.treatment}} esta aqui",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#f8fafc'><div style='background:white;border-radius:12px;padding:30px;border:1px solid #e2e8f0'><h1 style='color:#0284c7'>Hola, {{$json.body.name}}!</h1><p style='color:#475569'>Gracias por tu interes en <strong>{{$json.body.treatment}}</strong>.</p><div style='background:#f0fdf4;border:2px dashed #16a34a;border-radius:12px;padding:20px;text-align:center;margin:20px 0'><p style='color:#166534;font-size:14px;margin:0 0 8px'>Tu cupon exclusivo:</p><h2 style='color:#15803d;font-size:3rem;margin:0;letter-spacing:4px'>DESC15HOY</h2><p style='color:#166534;font-size:14px;margin:8px 0 0'>Valido por 48 horas</p></div><p style='color:#475569'>Presentalo cuando llegues a tu evaluacion gratuita.</p><a href='https://wa.me/56912345678' style='display:inline-block;background:#16a34a;color:white;padding:12px 24px;border-radius:8px;text-decoration:none;font-weight:bold;margin-top:10px'>Hablar por WhatsApp</a><hr style='border:1px solid #e2e8f0;margin:25px 0'><p style='color:#94a3b8;font-size:12px;text-align:center'>Clinica Premium - Av. Providencia 1234 - Santiago</p></div></body></html>"
      },
      "name": "Correo Bienvenida + Cupon",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/YOUR_PHONE_NUMBER_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_META_TOKEN" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "messaging_product", "value": "whatsapp" },
            { "name": "to", "value": "={{$json.body.phone}}" },
            { "name": "type", "value": "text" },
            { "name": "text", "value": "={\"body\": \"Hola {{$json.body.name}}, soy el asistente de Clinica Premium. Vi que te intereso {{$json.body.treatment}}. Te enviamos tu cupon DESC15HOY al correo!\"}" }
          ]
        }
      },
      "name": "WhatsApp Bienvenida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 400]
    }
  ],
  "connections": {
    "Webhook Landing Page": {
      "main": [[{ "node": "Crear Contacto en CRM", "type": "main", "index": 0 }]]
    },
    "Crear Contacto en CRM": {
      "main": [
        [{ "node": "Correo Bienvenida + Cupon", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp Bienvenida", "type": "main", "index": 0 }]
      ]
    }
  }
}
