n8n_workflows/2_abandono_carrito.json
{
  "id": "2",
  "name": "2. Abandono de Carrito (No agendo en 3 horas)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "name": "Revisar Cada 1 Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.gohighlevel.com/v1/contacts/?tags=Sin+Agendar&olderThan=3h",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_CRM_API_KEY" }
          ]
        }
      },
      "name": "Buscar Leads Sin Agendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "clinica@tudominio.cl",
        "toEmail": "={{$json.email}}",
        "subject": "Tu cupon vence en 24 horas, {{$json.name}}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'><div style='background:white;border-radius:12px;padding:30px;border:1px solid #e2e8f0'><h1 style='color:#dc2626'>Tu hora se va a ir!</h1><p style='color:#475569'>Hola <strong>{{$json.name}}</strong>, aun no has agendado tu evaluacion de <strong>{{$json.treatment}}</strong>.</p><p style='color:#475569'>Tu cupon <strong>DESC15HOY</strong> vence en menos de 24 horas.</p><div style='text-align:center;margin:25px 0'><a href='https://tudominio.cl/?campaign={{$json.campaign}}' style='display:inline-block;background:#dc2626;color:white;padding:15px 30px;border-radius:8px;text-decoration:none;font-weight:bold;font-size:1.1rem'>Agendar Ahora</a></div><p style='color:#94a3b8;font-size:12px;text-align:center'>Clinica Premium - Av. Providencia 1234 - Santiago</p></div></body></html>"
      },
      "name": "Correo de Recuperacion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Revisar Cada 1 Hora": {
      "main": [[{ "node": "Buscar Leads Sin Agendar", "type": "main", "index": 0 }]]
    },
    "Buscar Leads Sin Agendar": {
      "main": [[{ "node": "Correo de Recuperacion", "type": "main", "index": 0 }]]
    }
  }
}
